$font-stack: 'Helvetica, sans-serif'; 
$primary-color: '#333';

body {
  font: 100% $font-stack;
  color: $primary-color;
}


#paragraphId{
  background-color: var(--chakra-colors-primary);
}

#paragraphId2 {
  background-color: var(--chakra-colors-primary);
}